<%- include('header') -%>

<h1><%= title %></h1>
<% if(validated) { %>
    <%- include('admin-index') -%>
<% } %>

<div class="list-events">
    <% events.forEach(event => { %>
        <div class="list-single-event">
            <a href="<%=event.slug %>"><%= event.name %></a>
            <% if (event.description) { %>
                <hr>
                <p><%= event.description %></p>
            <% } %>
        </div>
    <% }); %> 
</div>

<%- include('footer') -%>