<%- include ('header') -%> 

<h1><%- title %></h1>
<% if(details.description) { %> 
    <p><%= details.description %> </p>
<% } %> 
<div class="dates">
    <p><%= cDate %> </p> 
    <p><%= mDate %> </p> 
</div>

<%- include ('footer') -%> 